:root {
  --panelHeight: 10vh;
}

div.control-panel {
  position: fixed;
  background-color: white;
  height: var(--panelHeight);
  width: 90vw;
  bottom: 0;
  border-radius: var(--panelHeight) var(--panelHeight) 0 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
