div.dropdown {
  position: relative;
}

div.dropdown>img {
  max-height: 8vh;
}

div.dropdown>img:hover {
  max-height: 9vh;
}

div.dropdown div.drop-content {
  display: none;
  position: absolute;
  top: 0;
  transform: translate(0, -100%);
  background-color: white;
  padding: 10px;
}

div.dropdown:hover div.drop-content {
  display: block;
}