body {
  background-color: #13171c;
  /* color: gray; */
}

div.baba-scene {
  /* align-items: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.baba-scene>ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

div.baba-scene>ul>li {
  list-style: none;
  user-select: none;
}

div.baba-grid {
  background-color: #070706;
  position: relative;
  width: 3rem;
  height: 3rem;
  /* background-color: white; */
  /* border: 1px solid black; */
}

div.baba-grid>img {
  max-width: 100%;
  max-height: 100%;
}

div.baba-grid>img {
  position: absolute;
}

div.baba-grid>div.baba-object {
  position: absolute;
  top: 0;
}

div.baba-object {
  user-select: none;
}

div.baba-object img {
  height: 100%;
  width: 100%;
}

div.baba-object div {
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  font-weight: 500;
  margin: auto;
}