div.drop-down {
  width: 5vw;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

div.drop-down img {
  max-width: 100%;
}

div.drop-down div {
  display: none;
}

div.drop-down:hover div {
  display: block;

  background-color: black;
  color: white;
  min-width: 15vw;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
}